body{
    background-color: rgb(252, 251, 251);
    font-family: 'Inter', sans-serif;
}
p{
    color: grey ;
}
.custom-button{
    border-color: #667080;
    background-color: #667080;
    color: white;
}



.Menu{
    list-style: none;
    margin: 20px;
    text-align: start;
}
.Menu li{
    display: inline-block;
    text-align:start
}
.Menu li a{
    margin: 10px;
    color: grey;
    text-decoration: none;
    display: inline-block;
}
.Menu li a:hover{
    color: olivedrab;
}
h3{
    margin: 70px;
    color: grey;
}
h5{
    display: block;
    text-align: center;
    color: grey;
}
body{
    background-color: rgb(252, 251, 251);
    font-family: 'Inter', sans-serif;
}
.Menu{
    text-align: start;
}

.Menu li a{
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}
.Menu li a:hover{
    color: olivedrab;
}
h3{
    margin: 70px;
    color: grey;
}
h5{
    display: block;
    text-align: center;
    color: grey;
}
h2{
    padding: 30px;
    color: olivedrab
}
body{
    /*background-color: rgb(252, 251, 251);*/
    font-family: 'Inter', sans-serif;
}

h3{
    margin: 70px;
    color: grey;
}
h5{
    display: block;
    text-align: center;
    color: grey;
}
h1{
    padding: 40px;
    color: olivedrab;
}
.contenido{
    padding: 50px;
    line-height: 1.5;
    width: 450px;
}
.imagen1{
    margin: 05px;
}
.imagen2{
    padding: 05px;
}
.imagen3{
    margin: 05px;
}
.imagen4{
    padding: 05px;
}
.album{
    width: 400px;
    position: fixed;
    bottom: 230px;
    right: 80px;
}
.letra{
    color: grey;
    position: fixed;
    bottom: 180px;
    right: 300px;
}
.audio1{
    position: fixed;
    right: 230px;
}
.letra2{
    color: grey;
    position: fixed;
    bottom: 50px;
    right: 430px;
}
.audio2{
    position: fixed;
    bottom: 10px;
    right: 230px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    padding: 0.5rem;
}